body{
    background:url("./clouds.jpg");
    margin: 0;
}

.box{
    height: 550px;
    width: 350px;
    position: relative;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     color: rgb(48, 55, 61);    
    border-radius: 12px;
}

.inp{
    margin: 0 auto;
    padding-top:20px ;
}

#searchBox{
    border-radius: 30px;
    height: 36px;
}
.inp:hover{
    -ms-transform: scale(1.35); /* IE 9 */
  -webkit-transform: scale(1.35); /* Safari 3-8 */
  transform: scale(1.35);   }

.content{
    position: relative;
    top:100px;
}
.fa-street-view{
    padding: 10px;
}
.locationName{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-top: 10px;
}
.tempe h3{
    font-size: 37px;
    font-weight: bold;line-height: 0.05em;
}
h4{
    font-weight: 500;
    line-height: 0.05em;
}
.icon{
    margin: 0 auto;height: 120px;
    background-color: #6f8ceb;
border-radius: 10px;
}
.me{
    position: absolute;
    bottom: 0;
    right: 10px;
    color: rgb(51, 41, 53);
    text-shadow: rgb(235, 4, 224);
}